// Colors
$color-primary-light : #55C4E9;
$color-primary : #31AED8;
$color-primary-dark : #068CB9;

$color-secondary-light : #51EE95;
$color-secondary : #2CE17B;
$color-secondary-dark : #00C957;

$color-grey-lightest : #ffffff;
$color-grey : #d3d3d3;
$color-grey-darkest : #ffffff;

// Sizes
$size-tiniest : 1px;
$size-smallest : 5px;
$size-smaller : 10px;
$size-small : 15px;
$size-normal : 20px;
$size-big : 25px;
$size-bigger : 30px;
$size-biggest : 40px;

// Fonts
$font-primary : "Lucida Sans Unicode", "Lucida Grande", sans-serif;