.c-card {
  display : flex;
  padding : $size-normal;
  margin-bottom : $size-normal;
  border : solid $size-tiniest $color-grey ;

    &:first-child {
      margin-top : $size-normal;
    }

    > .c-card__item {
      margin : 0 $size-smallest;
    }

    > .c-card__image {
      height: 20%;
      width: 20%;
      margin-right: $size-normal;
      border : solid $size-tiniest $color-grey ;
    }
}