.c-card {
  align-items: center;
  padding: $size-normal;
  margin-bottom: $size-normal;
  border: solid $size-tiniest $color-grey ;

    &:first-child {
      margin-top: 0;
    }

    > .c-card__image {
      height: 20%;
      width: 20%;
      margin-right: $size-normal;
      border : solid $size-tiniest $color-grey ;
    }
}